In [1]:
import os

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("Resources/election_data.csv")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
len(df)

3521001