In [227]:
import os
import pandas as pd

In [228]:
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [229]:
#total months
T_month=len(df)
T_month

86

In [230]:
#total amount of profit/losses over entire period
tpl =df["Profit/Losses"].sum()
tpl

38382578

In [231]:
#average of changes
avgchg=df["Profit/Losses"].pct_change()
avgc=avgchg.sum().mean()*100
avgc

-2437.0437430702223

In [248]:
pl=list(df["Profit/Losses"])
t=[]
c=0

for i in range(len(df)-1):
    chg_y=pl[i]
    chg_x=pl[i+1]

t.append(chg_x-chg_y)

c=sum (df["Profit/Losses"])
maxc= max(t)
minc= min(t)

print(f"Financial Analysis\n----------------------------------\n")
print(f"Your profit is: ${tpl}")
print(f"Total Months {T_month}")
print(f"Average  Change: ${avgc}")
print(f"Greatest Increase in Profits: (${maxc})")
print(f"Greatest Decrease in Profits: (${minc})")

Financial Analysis
----------------------------------

Your profit is: $38382578
Total Months 86
Average  Change: $-2437.0437430702223
Greatest Increase in Profits: ($532869)
Greatest Decrease in Profits: ($532869)