In [5]:
import os
import pandas as pd

In [6]:
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
T_month=len(df)
T_month

86

In [129]:
tpl =df["Profit/Losses"].sum()
tpl

38382578

In [130]:
pl = df["Profit/Losses"].to_list()

In [131]:
monthchg = [0]

In [132]:
for i in range (1, len(pl)):
    chg = pl[i] - pl [i-1]
    monthchg.append(chg)

In [133]:
df["Difference"] = monthchg

In [136]:
avgc= df ["Difference"].sum()/86
avgc

-2288.1976744186045

In [135]:
maxc = df["Difference"].max()
maxc

1926159

In [137]:
minc= df ["Difference"].min()
minc

-2196167

In [140]:
months = (f'T months:{"Month"}')

In [142]:
total = (f'total:{"tpl:,2f"}')

In [142]:
total = (f'total:{"tpl:,2f"}')

In [143]:
average = (f' avg chg:{avgc:,.2f}')

In [146]:
increase = (f'G increase in prof: {maxc:,.2f}')

In [147]:
decrease = (f' G decrease in prof: {minc:,.2f}')

In [2]:
#Analysis = ({"Analysis", "months", "total", "average", "increase", "decrease"})

#Analysis

{'Analysis', 'average', 'decrease', 'increase', 'months', 'total'}