In [2]:
import os

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Resources/election_data.csv")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
#total votes
t_votes=len(df)
t_votes

3521001

In [6]:
#list of candidates voted
cand=df['Candidate'].value_counts()
cand

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [24]:
x=[cand]
x

[Khan        2218231
 Correy       704200
 Li           492940
 O'Tooley     105630
 Name: Candidate, dtype: int64]

In [35]:
k=(2218231/t_votes)*100
vk=2218231
k

63.00001050837531

In [49]:
co=(704200/t_votes)*100
cov=704200
co

19.999994319797125

In [50]:
li=(492940/t_votes)*100
liv=492940
li

13.999996023857989

In [51]:
Ot=(105630/t_votes)*100
Otv=105630
Ot

2.999999147969569

In [55]:
print(f"\nElection Results\n----------------------\n")
print(f"\nTotal Votes: {t_votes}\n--------------------\n")
print(f"khan %{k:.2f}, votes({vk})")
print(f"correy %{co:.2f}, votes({cov})")
print(f"li %{li:.2f}, votes({liv})")
print(f"O'tooley %{Ot:.2f}, votes({Otv})")
print(f"\nWinner\n----------------------\n")
print(f"Khan")

Election Results
----------------------


Total Votes: 3521001
--------------------

khan %63.00, votes(2218231)
correy %20.00, votes(704200)
li %14.00, votes(492940)
O'tooley %3.00, votes(105630)

Winner
----------------------

Khan